.message-with-image {
    display: flex;
    flex-direction: column;
}
.message-image {
    max-width: 100%;
    border-radius: 8px;
    margin-left: -1rem;
    right: auto !important;
}
.image-caption {
    font-weight: 500;
    margin-top: 4px;
}
.message {
    margin-bottom: 8px;
    padding: 8px 12px;
    border-radius: 16px;
}
.user {
    background-color: #f0f0f0;
    align-self: flex-end;
    margin-left: auto;
}
.bot {
    background-color: #333;
    color: white;
    align-self: flex-start;
}
.chat-window {
    display: flex;
    flex-direction: column;
}
.creator-pro {
    position: relative;
}
.creator-pro img {
    position: fixed;
    left: 2.5rem;
    right: 0;
    bottom: 14rem;
    z-index: 0;
}
.text-fon {
    position: relative;
    width: 90%;
    border-radius: 15px;
    margin: auto;
    margin-bottom: 13rem;
}
.text-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 15px;
    z-index: 0;
    padding: 20px 15px;
}
.text-fon p {
    text-align: center;
    position: relative;
    z-index: 1;
}
.creator-chat-window {
    position: fixed;
    bottom: 5rem;
    z-index: 2;
    display: flex;
    flex-direction: column-reverse;
    max-height: 73%;
    width: 92%;
    overflow-y: auto;
    margin-bottom: 6rem;
    margin-left: -1rem;
}
.message {
    max-width: 100%;
    padding: 8px 12px;
    margin: 5px 0;
    border-radius: 15px;
    font-size: 14px;
    word-break: break-word;
}
.message.user {
    background: #303030;
    align-self: flex-end;
    color: white !important;
}
.message.bot {
    background: #303030;
    align-self: flex-start;
    color: white;
}