@font-face {
  font-family: 'Gropled';
  src: url('/fonts/Gropled-Bold.otf') format('otf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Futura PT';
  src: url('/fonts/FuturaCyrillicBold.ttf') format('ttf'),
       url('/fonts/FuturaCyrillicBook.ttf') format('ttf'),
       url('/fonts/FuturaCyrillicDemi.ttf') format('ttf'),
       url('/fonts/FuturaCyrillicExtraBold.ttf') format('ttf'),
       url('/fonts/FuturaCyrillicHeavy.ttf') format('ttf'),
       url('/fonts/FuturaCyrillicLight.ttf') format('ttf'),
       url('/fonts/FuturaCyrillicMedium.ttf') format('ttf');
  font-weight: 700;
  font-style: normal;
}
body {
  font-family: 'Futura PT', sans-serif !important;
} 
body {
  background-color: #131313;
  padding-bottom: 100px;
}
button {
  font-family: 'Gropled', sans-serif !important; 
  font-size: 20px;
  letter-spacing: 1.2px;
}
.container {
    max-width: 450px;
    padding: 14px !important;
  }
  h1 {
  font-family: 'Gropled', sans-serif;
  font-size: 40px;
    font-weight: bold;
    color: #ffffff;
    text-align: left;
  }
  h3 {
    font-size: 38px;
    font-weight: 600;
    color: #ffff;
    text-align: left;
  }
  p {
    font-size: 20px;
    /* color: #ffff; */
    text-align: left;
  }
  .image-gallery {
    position: relative;
    border-radius: 10px;
  }
  .image-grid {
    display: flex;
    gap: 8px;
  }
  .image-card {
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  .image-card.large {
    flex: 1;
  }
  .image-card img {
    width: 100%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease-in-out;
  }
  /* .image-card:hover img {
    transform: scale(1.05);
  } */
  .image-grid.small {
    justify-content: space-between;
    background: #222222; 
    padding: 8px;
    border-radius: 10px;
  }
  .image-card.small {
    max-width: 90px;
    width: 100%;
    max-height: 100px;
    height: 100%;
    border-radius: 10px !important;
  }
  .small img {
    width: 100%;
    object-fit: contain;
  }
  .speciall{
    height: 150px;
    /* width: 90px; */
    margin: 0;
    margin: auto;
    margin-right: -2rem;
    margin-left: 0.8rem;
    position: relative;
    z-index: 1;
    margin-top: 5.5rem !important;
  }
  .speciall img{
    height: 180px;
    width: 100px;
    margin-left: -0.4rem;
  }
  .zagruzit {
    position: absolute;
    bottom: 0rem;
    font-size: 10px;
    color: white;
    background: #191919;
    left: 0;
    right: 0;
  }
  .image-galleryyy {
    position: relative;
    display: flex;
    background: #222222;
    margin-top: 2rem;
    padding: 8px;
    border-radius: 15px;
    /* width: 65%; */
    height: 270px;
  }
  .image-galleryyy .image-card{
    height: 250px;
    width: 129px
  }
  .image-galleryyy .image-card img{
    height: 250px;
    width: 129px;
  }
  .overlay-text {
    color: #fff;
    font-size: 12px;
    display: flex;
    justify-content: flex-end;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
    z-index: 4005 !important;
  }
  .container .second-gallery {
    margin: 0 -14px;
  }
  .second-gallery {
    position: relative;
  }
  .background-image {
    position: relative;
    background: url('/images/home-back.png') no-repeat center;
    background-size: cover;
    padding: 20px 0;
    /* box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.9), inset 0 -10px 20px rgba(0, 0, 0, 0.9); */
    height: 400px;
    overflow: hidden;
  }
  .background-image::before {
    content: "";
    position: absolute;
    /* inset: 0; */
    background: rgba(0, 0, 0, 0.5); 
    z-index: 0;
    
  } 
  .background-image > * {
    position: relative;
    z-index: 1;
  }
  .background-image {
    position: relative;
    overflow: hidden;
  }
  .image-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    /* padding-top: 2rem; */
    margin-left: -0.8rem;
  }
  .third-gallery {
    position: relative;
    /* padding: 20px; */
    /* background: #111; */
    border-radius: 15px;
  }
  .image-grid.third {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 7px;
    justify-content: center;
    background: #2222;
    padding: 8px;
    border-radius: 15px;
  }
  .third-gallery.image-card.special {
    width: 100px;
    height: 160px;
    border-radius: 15px;
    overflow: hidden;
    position: relative;
    background: #222222;
  }
  .third-gallery .image-grid .image-card img{
    height: 160px;
  }
.large-1 {
  background: #222222;
  border-radius: 30px;
  padding: 10px!important;
  margin-left: -3.5rem;
  margin-right: rem;
  /* width: 200px !important;
  height: 280px !important; */
}
.large-image {
  border-radius: 21px;
  margin-top: -0.1rem;
  /* width: 180px !important;
  height: 265px !important; */
}
.large-image2 {
  border-radius: 21px;
  margin-top: 0.5rem;
  /* width: 180px !important;
  height: 265px !important; */
}
