.container {
    background-color: #131313;
    color: white;
    max-width: 450px;
    margin: 0 auto;
    padding: 0 15px;
}
.profile-title {
    text-align: center;
    color: #F0A8E1;
    margin: 20px 0;
    font-weight: bold;
}
.profile-photo {
    display: flex;
    justify-content: center;
    margin-bottom: -1.4rem;
}
.photo-container {
    width: 140px;
    height: 130px;
    background: url('/images/profile2.png') no-repeat center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.photo-placeholder {
    width: 80px;
    height: 80px;
    border: 2px solid #666;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin-top: 2rem;
}
.avatar-img {
    width: 180%;
    height: 180%;
    margin-bottom: 1.9rem;
    object-fit: cover;
    border-radius: 50%;
}
.premium-card {
    background-color: #3F313C;
    border-radius: 15px;
    padding: 20px;
    padding-top: 27px;
    padding-bottom: 3.7rem;
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.premium-name {
    font-size: 30px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    font-family: 'Gropled', sans-serif !important;
}
.premium-link {
    color: #F0A8E1;
    font-size: 16px;
    text-decoration: none;
    line-height: 0.9;
    display: flex;
    align-items: center;
}
.premium-link span {
    font-size: 18px;
    margin-left: 0.5rem;
}
.balance-label {
    font-size: 16px;
    flex-grow: 1;
    padding: 5px 0 17px 0;
}
.balance-value {
    display: flex;
    align-items: center;
    padding: 5px 0 17px 0;
}
.credit-label {
    color: #fff;
    margin-right: 8px;
    font-size: 14px;
}
.credit-value {
    font-size: 16px;
}
.menu-items {
    background-color: #222222;
    border-radius: 15px;
    overflow: hidden;
    margin-top: -3rem;
    margin-bottom: 4rem;
    position: relative;
    padding-bottom: 1rem;
}
.menu-item {
    display: flex;
    align-items: center;
    padding: 15px 5px;
    margin: 0 15px;
    border-bottom: 1px solid #333;
    cursor: pointer;
}
.just-border {
    border-bottom: 1px solid #333;
    padding-left: 10px;
    margin-left: -4px;
    margin-right: -4px;
}
.menu-text {
    flex-grow: 1;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}
.menu-arrow {
    font-size: 18px;
}
.dropdown {
    padding: 10px 20px;
    position: relative;
    margin-top: 0;
    z-index: 1;
}
.dropdown-subtitle {
    font-size: 16px;
    padding: 10px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #fff;
    border-bottom: 1px solid #333;
}
.dropdown-list {
    padding-left: 10px;
}
.dropdown-item {
    padding: 8px 0;
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ddd;
    cursor: pointer;
}
.checkmark {
    color: #66FF99;
    font-size: 18px;
}
.add-new {
    color: #F0A8E1;
    padding-left: 12px;
}
.dropdown-subtitle {
    padding: 10px 10px;
    margin: 0 -4px;
    cursor: pointer;
    transition: color 0.2s ease;
    color: #ffffff;
}
.subtitle-greyed {
    color: #F0A8E1 !important;
    border-bottom: none;
}
.dropdown-item {
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.2s ease;
}
.active-avatar {
    background-color: #383838;
    color: #ffffff !important;
    border-radius: 10px;
}
.greyed {
    color: #999999 !important;
}
.tariff-dropdown {
    background-color: #222222;
    padding: 16px;
    position: relative;
    margin-top: 0;
    border-top: 1px solid #333;
    z-index: 1;
}
.dropdown-header {
    color: #ccc;
    font-size: 14px;
    margin-bottom: 12px;
}
.tariff-btn {
    background-color: #F0A8E1;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
    transition: 0.2s ease;
}
.tariff-btn:hover {
    background-color: #ff86e5;
}
.dropdown-header-with-close {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 12px;
}
.dropdown-header {
    color: #ccc;
    font-size: 14px;
}
.close-icon {
    font-size: 16px;
    color: #ccc;
    cursor: pointer;
    padding: 4px;
    transition: color 0.2s ease;
    margin-top: -0.4rem
}
.close-icon:hover {
    color: #fff;
}
.expand-enter-active {
    transition: all 0.8s ease;
    overflow: hidden;
}
.expand-leave-active {
    transition: all 0.3s ease;
    overflow: hidden;
}
.expand-enter-from,
.expand-leave-to {
    max-height: 0;
    opacity: 0;
    transform: translateY(-10px);
}
.expand-enter-to,
.expand-leave-from {
    max-height: 1000px;
    opacity: 1;
    transform: translateY(0);
}
.menu-arrow {
    display: flex;
    margin-left: auto;
}