.subtitle-greyed {
  color: #F0A8E1 !important;
}
.promo-wrapper {
  background: #131313;
  color: white;
  max-width: 450px;
  padding: 14px;
  margin-bottom: 1rem;
}
.main-titlee {
  font-size: 40px;
  font-weight: bold;
  color: #F0A8E1;
  margin-bottom: 1rem;
}
.subtextt {
  color: #ccc;
  font-size: 20px;
  margin-bottom: 1.5rem;
}
.premium-box {
  background: #222222;
  border-radius: 15px;
  padding: 14px;
  margin-bottom: 1.5rem;
}
.text-input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 10px;
  border: 1px solid #393939;
  margin-bottom: 1rem;
  background: #1E1E1E;
  color: white;
  font-size: 14px;
}
.text-input.error::placeholder {
  color: #A50A0A;
}
.dropdown-headerr {
  display: flex;
  justify-content: space-between;
  padding: 0.6rem 0.8rem;
  cursor: pointer;
  font-size: 14px;
  border-bottom: 1px solid #393939;
  border-top: 1px solid #393939;
}
.dropdown-options {
  padding: 0 1rem;
  margin: 10px 0;
}
.option {
  display: block;
  margin-bottom: 0.5rem;
  font-size: 14px;
}
.premium-button {
  width: 100%;
  background: #F0A8E1;
  color: white;
  padding: 0.75rem;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  background-color: transparent;
  border: 2px solid white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  cursor: pointer;
  position: relative;
  margin-right: 8px;
  vertical-align: middle;
}
input[type="radio"]:checked::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 8px;
  height: 8px;
  background-color: white;
  border-radius: 50%;
}
.option {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: white;
}
.error-msg {
  color: #A50A0A;
  font-size: 13px;
  margin: -0.5rem 0 1rem 0.5rem;
}